* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "Mononoki";
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: #F7F3EE;
}

#clock,
#pulseaudio,
#cpu,
#memory
{
  padding: 0.05rem 0.3rem;
  margin: 0.4rem 0.25rem;
}
